@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scrollbar for WebKit browsers (Chrome, Edge, Safari) */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px; /* Thin scrollbar */
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: #1a1b2e; /* Background color */
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); /* Lighter scrollbar */
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3); /* Slightly brighter on hover */
  }
}

.prose h1 {
  @apply text-4xl font-bold mt-6 mb-4;
}

.prose h2 {
  @apply text-3xl font-semibold mt-5 mb-3;
}

.prose h3 {
  @apply text-2xl font-semibold mt-4 mb-2;
}

.prose h1[class*="ql-indent"],
.prose h2[class*="ql-indent"],
.prose h3[class*="ql-indent"] {
  margin-left: 1.5rem;
}
